.main-container{
    display: flex;
    gap: 48px;
}

    section{
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
    }

    section h1{
        color: var(--custom-white);
        font-size: 48px;
        line-height: 1;
    }

    section h2{
        color: var(--custom-gray);
        font-size: 24px;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
        border-radius: 8px;
    }

        form .input-wrapper{
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

            .input-wrapper label{
                color: var(--custom-white);
                font-size: 24px;
            }

            .input-wrapper input[type=text], .input-wrapper input[type=email], .input-wrapper textarea{
                background-color: #00000060;
                color: var(--custom-white);
                font-size: 16px;
                outline: none;
                border: none;
                padding: 8px;
                transition: color, 0.3s;
            }

            .input-wrapper input[type=text]::placeholder, .input-wrapper input[type=email]::placeholder, .input-wrapper textarea::placeholder{
                color: #3f3f3f;
            }

            .input-wrapper input[type=text]:hover, .input-wrapper input[type=email]:hover, .input-wrapper textarea:hover,
            .input-wrapper input[type=text]:focus, .input-wrapper input[type=email]:focus, .input-wrapper textarea:focus{
                background-color: #00000030;
            }

            .input-wrapper textarea{
                height: 150px;
                resize: none;
            }

@media (max-width: 1000px){
    .main-container{
        flex-direction: column;
    }
}

@media (max-width: 480px){
    section h1{
        font-size: 32px;
    }

    section h2{
        font-size: 18px;
    }

    .input-wrapper label{
        font-size: 18px;
    }
}